.project-list {
  overflow-y: scroll;
  padding: 5px;
  margin: 10px 0;
  border-radius: 20px;
  height: calc(100% - 100px);
  font-weight: 200;

}

p {
  text-align: center;
}

.no-project-found {
  margin-top: 10px;
  margin-right: 20px;
  color: #f8fef4a4;
}

.ul {
  list-style: none;
  padding: 0;

}

.ul li {
  margin: 12px 0;
  padding: 8px 20px;
  background-color: var(--bg-3-trans);
  color: white;
  border: 0.5px solid var(--border-white-light);
  border-radius: 5px;
  cursor: pointer;
  white-space: nowrap;
  /* Prevents text from wrapping to the next line */
  overflow: hidden;
  /* Hides any overflow beyond the defined width */
  text-overflow: ellipsis;
  height: 40px;
  align-items: center;
  transition: 0.1s ease;
}



.ul li:hover{
  background-color: var(--text-1);
  font-weight: 400;
  scale: 1.03;
}
.ul li.active {
  background: linear-gradient(90deg, var(--text-1), var(--text-3), var(--text-2));
  background-size: 200% 200%;
  animation: gradientAnimation 3s infinite;
  font-weight: 400;

}


@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

