.blur {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #35353570;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}