
.button {
    width: 100%;
    height: 40px;
    margin-top: 15px;
    margin-bottom: 10px;
    border-radius: 30px;
    background: var(--text-3);
    outline: none;
    border: 0.5px solid wheat;
    scale: 1;
    transition: all 0.3s ease;
    cursor: pointer;
    /* box-shadow: -1px 3px  #3b9238e7; */
    box-shadow: -1px 3px  var(--text-1);
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400 ;

}

.button:hover, 
.button:active {

    background-color: var(--text-1);
    box-shadow: none;
    transform: translateY(4px) translateX(-1px);    

}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 10px;
    align-items: center;
    padding-right: 30px;
    padding-left: 10px;
    padding-top: 5px;
    
    white-space: nowrap;
    /* Prevents text from wrapping to the next line */
    overflow: hidden;
    /* Hides any overflow beyond the defined width */
    text-overflow: ellipsis;
}
.button-span {
    width: fit-content;
    height: fit-content;
    padding-right: 10px;
}

.button-image {
    width: 25px;
    height: 25px;
    margin-left: 10px;
    margin-top: 3px;
}
