:root {
  --bg-1: #292f50;
  --bg-11: #252B48;
  --bg-2: #374055;
  --bg-3: #445069;
  
  --bg-1-trans: #252b4895;
  --bg-11-trans: #252B4895;
  --bg-2-trans: #374055ae;
  --bg-3-trans: #4450698d;
  
  --text-1: #499381;
  --text-2: #59bea6;
  --text-3: #7dc9b7;

  --heading-0 : #b6a83f;
  --heading-1 : #d6c43a;
  --heading-2 : #cdbf55;
  --heading-3 : #e4d773;


}