.button-upload-file {
    width: fit-content;
}

.project-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    margin: 10px 20px;
    height: 60px;
}

.project-header-action {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.project-header-action-delete {
    background-color: rgb(199, 28, 28);
    box-shadow: -2px 2px 2px #807e7e;
    padding-right: 10px;
    border: none;
}

.project-header-action-delete:hover,
.project-header-action-delete:active {
    background-color: rgb(150, 21, 21);
}