.project-list {
  overflow-y: scroll;
  padding: 5px;
  margin: 10px 0;
  border-radius: 20px;
  height: calc(100% - 100px);
  
}
p{
  text-align: center;
  margin-top: 10px;
  color: aliceblue;

}
.ul {
  list-style: none;
  padding: 0;

}

.ul li {
  margin: 5px 0;
  padding: 5px 20px;
  background-color: var(--bg-3-trans);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  white-space: nowrap;       /* Prevents text from wrapping to the next line */
  overflow: hidden;          /* Hides any overflow beyond the defined width */
  text-overflow: ellipsis; 
  height: 40px;
  align-items: center;
}

.ul li:hover,
.ul li:active {
background-color: var(--heading-0);
}